services:
  db:
    image: mysql:8.0
    restart: always
    environment:
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_USER: ${DJANGO_SUPERUSER_USERNAME}
        MYSQL_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d

  web-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    depends_on:
      - db
    environment:
      SAO_PROFILE: dev
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"

  web-prod:
    profiles:
      - prod
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        - SAO_APPUSER=${SAO_APPUSER}
    env_file:
      - .env
    depends_on:
      - db
    environment:
      SAO_PROFILE: prod
    ports:
      - "80:10000"
