services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: sao_db
      MYSQL_USER: saoadmin
      MYSQL_PASSWORD: saoadmin
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"

  web-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.${SAO_PROFILE}
    env_file:
      - .env
    depends_on:
      - db
    environment:
      DB_NAME: sao_db
      DB_USER: saoadmin
      DB_PASSWORD: saoadmin
      DB_HOST: db
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"
