services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_PORT: ${DB_PORT}
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:${DB_PORT}"


  web-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    depends_on:
      - db
    environment:
      SAO_PROFILE: dev
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"

  web-prod:
    profiles:
      - prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    depends_on:
      - db
    environment:
      SAO_PROFILE: prod
    ports:
      - "80:80"
