services:
  - type: pserv
    name: mysql
    plan: standard
    runtime: docker
    image: mysql:8.0
    autoDeploy: false
    disk:
      name: mysql
      mountPath: /var/lib/mysql
      sizeGB: 10
    envVars:
      - fromGroup: mysql

  - type: web
    name: web-prod
    runtime: docker
    plan: starter
    buildCommand: docker build -f Dockerfile.prod -t web-prod .
    startCommand: gunicorn sao_proj.wsgi:application --bind 0.0.0.0:10000
    envVars:
      - key: SAO_PROFILE
        value: prod
      - fromGroup: mysql
    # dependsOn:
    #   - mysql

envVarGroups:
  - name: mysql
    envVars:
      - key: MYSQL_DATABASE
        value: sao_db
      - key: MYSQL_USER
        value: saoadmin
      - key: MYSQL_PASSWORD
        value: saoadmin
      - key: MYSQL_ROOT_PASSWORD
        generateValue: true
