services:
  - type: web
    name: sao-web
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile.prod
    envVars:
      - key: SAO_PROFILE
        value: prod
      - key: DJANGO_SECRET_KEY
        generateValue: true
