databases:
  - name: sao-db
    databaseName: sao_db
    user: saoadmin
    plan: free
    # region: oregon
    # postgresMajorVersion: "14"
    ipAllowList: # allow external connections from everywhere
      - source: 0.0.0.0/0
        description: everywhere
services:
  - type: web
    name: sao-web
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile.prod
    envVars:
      - key: SAO_PROFILE
        value: prod
      - key: DATABASE_URL
        fromDatabase:
          name: sao-postgres
          property: connectionString
      - fromGroup: postgres

envVarGroups:
  - name: postgres
    envVars:
      - key: DB_DATABASE
        value: sao_db
      - key: DB_USER
        value: saoadmin
      - key: DB_PASSWORD
        value: saoadmin
      - key: DB_ROOT_PASSWORD
        generateValue: true
      - key: DB_HOST
        value: sao-db # ← ホスト名をサービス名に
