services:
  - type: pserv
    name: sao-postgres
    plan: free
    region: oregon
    ipAllowList: []

  - type: web
    name: sao-web
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile.prod
    envVars:
      - key: SAO_PROFILE
        value: prod
      - key: DB_HOST
        fromService:
          type: pserv
          name: sao-postgres
          property: host
      - key: DB_NAME
        fromService:
          type: pserv
          name: sao-postgres
          property: database
      - key: SAO_DB_USER
        fromService:
          type: pserv
          name: sao-postgres
          property: user
      - key: SAO_DB_PASSWORD
        fromService:
          type: pserv
          name: sao-postgres
          property: password
      - key: DB_PORT
        value: "5432"
      - key: DJANGO_SECRET_KEY
        generateValue: true
