{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title%}アカウント管理{% endblock %}

{% block content%}

<div class="container">

    <div class="row mt-3">
        <div class="col">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col"></div>
        <div class="col">
            <div class="page-header">
                <h4>スタッフリスト</h4>
            </div>
            <table class="table table-hover" style="">
                <th>アカウント</th>
                <th>氏名</th>
                <th>メール</th>
                <th></th>

                {% for account in accounts %}
                <tr {% if not account.user.is_active %} class="warning" } {% endif %}>
                    <td>{{ account.username }}</td>
                    <td>{{ account.last_name }}{{ account.first_name }}</td>
                    <td>{{ account.email }}</td>

                    <td>
                        {% if user.is_staff or user.permission.enable_regist_event %}
                        <a href="{%url 'accounts:edit' account.username %}" class=""><span class="oi oi-pencil"></span>
                        </a>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}