{% extends "base.html" %} 
{% load sao_tags %}
{% load widget_tweaks %}

{% block content%}


<style>
.vertical-header {
    writing-mode: vertical-rl;
    text-align: center;
	vertical-align: bottom;
    white-space: nowrap;
    padding: 8px 2px;
    font-size: 13px;
    min-width: 30px;
}
</style>


<script>
function submit()
{
	var yearmonth = document.getElementById("id_yearmonth").value
	var filter_diactive = document.getElementById("id_filter_deactive").checked
    var form = document.getElementById("yearmonthform");

	var url = "{% url 'sao:attendance_summary' %}"
	if(filter_diactive)
	{
		url = url + "\?f_deactive&"
	}
	else{
		url = url + "\?"
	}
	url = url + "yearmonth="+yearmonth
	location.href = url
    //form.submit();

}

</script>

<div class="container">

    <div class="row mt-3 align-items-center">
		<div class="col">
			<div class="page-header">
				<h4>勤務実績一覧</h4>
				<!-- 計{{summaries|length}}件 -->
			</div>
        </div>

		<div class="col-auto">
			<div class="pull-left">
				<form class="form" method='GET' action={% url 'sao:attendance_summary' %}>
					{% csrf_token %}
					{{ form.yearmonth|attr:"onchange=submit()" }}
				</form>
			</div>
			<div class="checkbox col-xs-4">
				<label><input id='id_filter_deactive' type="checkbox" name="filter" onchange=submit() {{checked}}>在籍スタッフ以外非表示</label>
			</div>					
		</div>
	</div>



	{% if not summaries %}
		<div class="alert alert-danger">
			勤怠データが存在しません
		</div>
	{% endif %}

		
	<br>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th class="vertical-header">種別</th>
			<th class="vertical-header">所属</th>
			<th class="vertical-header">管理番号</th>
			<th class="vertical-header">氏名</th>
			{% if user.is_staff or user.permission.enable_view_temporary_staff_record %}
			<th class="vertical-header">所定勤務日数</th>
			<th class="vertical-header">出勤日数</th>
			<th class="vertical-header">有休取得日数</th>
			<th class="vertical-header">代休日数</th>
			<th class="vertical-header">欠勤日数</th>
			<th class="vertical-header">特別休暇日数</th>
			<th class="vertical-header">遅刻回数</th>
			<th class="vertical-header">早退回数</th>
			<th class="vertical-header">休日出勤日数</th>
			<th class="vertical-header">有休残数</th>
			{% endif %}
			<th class="vertical-header">時間外</th>
			{% if user.is_staff or user.permission.enable_view_temporary_staff_record %}
			<th class="vertical-header">操作</th>
			{% endif %}
		</tr>
		{% for o in summaries %}
		{% if o.employee.user.is_active %}
		<tr>
		{% else %}
		<tr class="warning">
		{% endif %}
			<td>{{o.type}}</td>
			<td>{{o.department}}</td>
			<td>{{o.employee.employee_no}}</td>
			<td>{{o.employee.name}}</td>
			{% if user.is_staff or user.permission.enable_view_temporary_staff_record %}
			<td class="text-right">{{o.daycount.0}}</td>
			<td class="text-right">{{o.daycount.1}}</td>
			<td class="text-right">{{o.daycount.2}}</td>
			<td class="text-right">{{o.daycount.3}}</td>
			<td class="text-right">{{o.daycount.4}}</td>
			<td class="text-right">{{o.daycount.5}}</td>
			<td class="text-right">{{o.daycount.6}}</td>
			<td class="text-right">{{o.daycount.7}}</td>
			<td class="text-right">{{o.daycount.8}}</td>
			<td class="text-right">{{o.daycount.9}}</td>
			{% endif %}
			<td class="text-right">{{o.overtime_work|strip_seconds:"0:00"}}</td>
			<td>
			{% if user.is_staff or user.permission.enable_view_temporary_staff_record %}
				<a class="btn btn-default" id="name" title="詳細"
                    href="{% url 'sao:staff_detail' o.employee.employee_no year month %}">
					<span class="oi oi-info"></span>
				</a>
			{% endif %}
				<a class="btn btn-default" id="name" title="WEB打刻"
					href="{% url 'sao:web_timestamp_view' o.employee.employee_no %}">
				<span class="oi oi-clock"></span>
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %} {% block footer %} 
{% endblock %}