{% extends "base.html" %}
{% load widget_tweaks %}
{% load sao_tags %}

{% block content %}


<div class="container">
    <div class="row mt-3">
        <!-- 基本データ -->
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <strong>基本データ</strong>
                </div>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                        <tr>
                            <th>氏名</th>
                            <th>管理番号</th>
                            <th>勤務時間</th>
                        </tr>
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.employee_no }}</td>
                            <td>{{ office_hours }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- WEB打刻 -->
        {% if mypage and user.permission.enable_stamp_on_web %}
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <strong>WEB打刻</strong>
                </div>
                <div class="card-body">
                    <!-- WEB打刻エリア -->
                    <div class="row">
                        <div class="col-md-11 mx-auto"> 
                                <div class="text-center" id="clock_box" style="font-size: 20px;"></div>
                        </div>
                    </div>
<div class="row">
    <div class="col"">

        <div class=" row">
            
            <div class="col-2">
                <span class="badge bg-secondary">出勤</span>
            </div>
            <div class="col">
                <a class="link-underline link-underline-opacity-0" href="{% url 'sao:time_clock_detail' employee.employee_no %}" title="打刻詳細" data-bs-toggle="tooltip" data-bs-html="true">
                    <h5>{{ today_stamp.0 }}</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="badge bg-secondary">退勤</span>
            </div>
            <div class="col">
                <a class="link-underline link-underline-opacity-0" href="{% url 'sao:time_clock_detail' employee.employee_no %}" title="打刻詳細" data-bs-toggle="tooltip" data-bs-html="true">
                    <h5>{{ today_stamp.1 }}</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
					<form class="form-inline" method='POST' action={% url 'sao:time_clock' %}>
						{% csrf_token %}

						<div class="d-grid">
							<button class="btn btn-primary" type="submit" name="dakoku"
								value="退勤" />打刻する</button>
						</div>
					</form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% if user.permission.enable_view_detail or user.is_staff %}
    <div class="row mt-4">
        <div class="col">
            <h5>{{ year }}年 {{ month }}月 勤務データ</h5>
        </div>
        <div class="col-auto">
            {% if form %}
            <form class="form-inline" method="get" action="{% url 'sao:home' %}">
                {% csrf_token %}
                <div class="row g-2">
                    <div class="col">
                        {{ form }}
                        <input type="hidden" name="employee" value="{{ employee.id }}" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit" name="calc">表示</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>

    <!-- メッセージ表示 -->
    {% if messages %}
    <div class="row mt-2">
        <div class="col">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <span class="label label-warning">{{ message.tags }}</span>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- 集計テーブル -->
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered table-sm mb-0">
                <thead class="table-light">
                    <tr>
                        <th>所定勤務日数</th>
                        <th>出勤日数</th>
                        <th>有休日数</th>
                        <th>代休日数</th>
                        <th>欠勤日数</th>
                        <th>特休日数</th>
                        <th>遅刻回数</th>
                        <th>早退回数</th>
                        <th>休日出勤日数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for d in daycount %}
                        <td>{{ d }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 日毎勤怠記録 -->
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>日</th>
                    <th>曜日</th>
                    <th>区分</th>
                    <th>出社時刻</th>
                    <th>退社時刻</th>
                    <th>実働時間</th>
                    <th>遅刻</th>
                    <th>早退</th>
                    <th>外出</th>
                    <th>時間外</th>
                    <th>深夜</th>
                    <th>法定休日</th>
                    <th>所定休日</th>
                    <th>届け</th>
                </tr>
            </thead>
            <tbody>
                {% for attn in attendances %}
                <tr class="{{ attn|select_tr_color:today }}" 
                    {% if attn.warnings %}
                        data-bs-toggle="tooltip" title="{{ attn|warning_messages }}"
                    {% endif %}
                >
                    <!-- 日・曜日の色分け -->
                    {% if attn.date|is_saturday %}
                        <td class="text-end text-primary bg-light">{{ attn.date.day }}</td>
                        <td class="text-end text-primary bg-light">{{ attn.date|date:"D" }}</td>
                    {% elif attn.date|is_holiday %}
                        <td class="text-end text-danger bg-light">{{ attn.date.day }}</td>
                        <td class="text-end text-danger bg-light">{{ attn.date|date:"D" }}</td>
                    {% else %}
                        <td class="text-end bg-light">{{ attn.date.day }}</td>
                        <td class="text-end bg-light">{{ attn.date|date:"D" }}</td>
                    {% endif %}
                    <td>{{ attn.status|status_display }}</td>
                    <td class="text-end {% missed_stamp_color attn.clock_out attn.clock_in %}">
                        {% if attn.clock_in %}
                        {{ attn.clock_in.time }}
                        {% endif %}
                    </td>
                    <td class="text-end {% missed_stamp_color attn.clock_in attn.clock_out %}">
                        {% if attn.clock_out %}
                        <div style="{% warning_midnight attn.clock_out attn %}">
                            {{ attn.clock_out.time }}
                        </div>
                        {% endif %}
                    </td>
                    <td class="text-end">{{ attn.actual_work|strip_seconds:"" }}</td>
                    {% if not mypage %}
                        <td class="text-end {{ attn.late|color_ifnot:'cream_bg' }}">{{ attn.late|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn.before|color_ifnot:'cream_bg' }}">{{ attn.before|strip_seconds:"" }}</td>
                        <td class="text-end">{{ attn.steppingout|strip_seconds:"" }}</td>
                        {% if employee.is_included_overtime_pay %}
                            <td class="text-end {{ attn|warning_overtime }}">
                                {{ attn.out_of_time|strip_seconds:"" }} <span class="small">{{ attn|overtime_hours }}</span>
                            </td>
                        {% else %}
                            <td class="text-end">{{ attn.out_of_time|strip_seconds:"" }}</td>
                        {% endif %}
                        <td class="text-end {{ attn.night|color_ifnot:'cream_bg' }}">{{ attn.night|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn.legal_holiday|color_ifnot:'cream_bg' }}">{{ attn.legal_holiday|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn.holiday|color_ifnot:'cream_bg' }}">{{ attn.holiday|strip_seconds:"" }}</td>
                        <td>{% if attn.remark %}{{ attn.remark }}{% endif %}</td>
                    {% else %}
                        <td class="text-end {{ attn|set_warning_color:'tardy' }}">{{ attn.late|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn|set_warning_color:'leave_early' }}">{{ attn.before|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn|set_warning_color:'steppingout' }}">{{ attn.steppingout|strip_seconds:"" }}</td>
                        {% if employee.is_included_overtime_pay %}
                            <td title="{{ attn|tooltip_overtime }}" class="text-end {{ attn|warning_overtime }}">
                                {{ attn.out_of_time|strip_seconds:"" }} <span class="small">{{ attn|overtime_hours }}</span>
                            </td>
                        {% else %}
                            <td class="text-end">{{ attn.out_of_time|strip_seconds:"" }}</td>
                        {% endif %}
                        <td class="text-end {{ attn|set_warning_color:'midnight_work' }}">{{ attn.night|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn|set_warning_color:'legal_holiday' }}">{{ attn.legal_holiday|strip_seconds:"" }}</td>
                        <td class="text-end {{ attn|set_warning_color:'holiday' }}">{{ attn.holiday|strip_seconds:"" }}</td>
                        <td class="{{ attn|set_any_warning_color }}">{% if attn.remark %}{{ attn.remark }}{% endif %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <!-- 合計行 -->
                <tr>
                    <td colspan="4"></td>
                    <td class="orange_bg">合計時間</td>
                    <td class="text-end">{{ total_result.work|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ total_result.late|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ total_result.before|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ total_result.steppingout|strip_seconds:"0:00" }}</td>
                    <td class="text-end {{ warn }}">{{ total_result.out_of_time|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ total_result.night|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ total_result.legal_holiday|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ total_result.holiday|strip_seconds:"0:00" }}</td>
                </tr>
                <!-- まるめ処理行 -->
                <tr>
                    <td colspan="4"></td>
                    <td class="orange_bg">まるめ処理</td>
                    <td class="text-end">{{ rounded_result.work|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ rounded_result.late|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ rounded_result.before|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ rounded_result.steppingout|strip_seconds:"0:00" }}</td>
                    <td class="text-end {{ warn }}">{{ rounded_result.out_of_time|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ rounded_result.night|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ rounded_result.legal_holiday|strip_seconds:"0:00" }}</td>
                    <td class="text-end">{{ rounded_result.holiday|strip_seconds:"0:00" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <a href="{% url 'sao:download_csv' employee.employee_no year month %}" class="btn btn-success">
            <i class="oi oi-data-transfer-download"></i> CSVダウンロード
        </a>
    </div>
    {% endif %}
</div>

<script>
{% if mypage and user.permission.enable_stamp_on_web %}
    function clock_func() {
        const dd = new Date();
        let year = dd.getFullYear();
        let mon = String(dd.getMonth() + 1).padStart(2, '0');
        let date = String(dd.getDate()).padStart(2, '0');
        let hour = String(dd.getHours()).padStart(2, '0');
        let min = String(dd.getMinutes()).padStart(2, '0');
        let sec = String(dd.getSeconds()).padStart(2, '0');
        document.getElementById("clock_box").innerHTML =
            year + "/" + mon + "/" + date + " " +
            hour + ":" + min + ":" + sec;
        setTimeout(clock_func, 1000);
    }
    window.onload = clock_func;
{% endif %}

// ページ読み込み時にツールチップを初期化
document.addEventListener('DOMContentLoaded', function () {
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  tooltipTriggerList.forEach(function (tooltipTriggerEl) {
    new bootstrap.Tooltip(tooltipTriggerEl);
  });
});


</script>
{% endblock %}

{% block footer %}
{% endblock %}