{% extends "base.html" %} 
{% load widget_tweaks %}

{% block content%}

<div class="container">
	<div class="row mb-5"></div>

	<div class="row">
		<div class="col"></div>
		<div class="col card">
			<div class="card-header">
				{{employee.name}}の基本情報の修正
			</div>
			
			<div class="card-body">

			{% if errors %}
			<div class="alert alert-danger">
				{{errors}}
			</div>
			{% endif %}
			
			{% if form.errors %}
			<div class="alert alert-danger">
				{{form.errors}}
			</div>
			{% endif %}
			
			<form class="form" method="post" action={% url 'sao:edit_employee' employee.pk %}>
				{% csrf_token %}

				{{ form.as_p }}

				<button  class="btn btn-primary mb-3" type="submit">保存</button>
				
				<input type="hidden" name="employee_no" value="{{employee.employee_no}}" />
			</form>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
	
</div>

{% endblock %}

{% block footer %}
{% endblock %}
