{% extends "base.html" %}
{% load widget_tweaks %}


{% block content%}

<div class="container">
	<div class="page-header">
		退社処理
	</div>

	<h4>{{employee.lastname}}{{employee.firstname}}</h4>
	
	<form class="form" method="post" action="{% url 'sao:leave_from_company' employee.pk %}">
		{% csrf_token %}


		<div class="form-group row">
			<label for="id_leave_date"  class="col-xs-2 col-form-label">
				{{ form.leave_date.label }}
			</label>
			<div class="col-xs-4">
				{{form.leave_date}}
			</div>
			<button class="btn btn-default"　type="submit">退社</button>
		</div>
	</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
