{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<script>
</script>

<div class="container">

    <div class="mt-3">
    <div class="page-header">
        {{record.employee.employee_no}}:{{record.employee}} {{record.date}}
    </div>

    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    打刻修正
                </div>
                <div class="card-body">
                    <form class="form-inline" name="form1" method="post" action={% url 'sao:modify_record' record.id year month %}>
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary" type='submit'>修正登録</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col">
            <table class="table table-striped">
            <tr><th>外出</th><th>戻り</th><th>修正</th></tr>
            {% for steppingout in steppingouts %}
            <tr>
                <td>{{steppingout.out_time|date:"Y/m/d H:i"}}</td>
                <td>{{steppingout.return_time|date:"Y/m/d H:i"}}</td>
                <td>
                    <a class="btn btn-default" href="{% url 'sao:modify_steppingout' steppingout.id record.id year month%}">
                            <span class="oi oi-pencil"></span></a>
                </td>
            </tr>
            {% endfor %}
            </table>
            <input class="btn btn-secondary" type="button" onclick="location.href='{% url 'sao:add_steppingout' record.id year month %}'" value="外出登録">
        </div>
    </div>

    <div class="row">
        <a href={% url 'sao:employee_record' %}?employee={{record.employee.id}}&year={{year}}&month={{month}}>
            <div class="text-right">
                <button class="btn btn-secondary">戻る</button>
            </div>
        </a>
    </div>
</div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}