{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row mt-3">
	</div>


	<div class="row">
		<div class="col"></div>
		<div class="col">
			<div class="card card-default">
				<div class="card-header">
					<h3 class="card-title">権限の変更 ({{user.username}}) </h3>
				</div>
				<div class="card-body">
					<form class="form" method="post" action={% url 'sao:modify_permission' user.id %}>
						{% csrf_token %}

						{{form.as_table}}
						<input type='hidden' name='id' value={{u.id}} />

						<div class="d-grid gap-2">
						<button class="btn btn-primary" type='submit'>変更</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col"></div>
		<div></div>
	</div>
</div>

{% endblock %} {% block footer%} {% endblock %}

<!-- // #footer -->