{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<script>
	function delete_office_hours(a) {
		if (confirm("削除してもよろしいですか？")) {
			location.href = a.href;
		}
	}
</script>

<div class="container">
	<div class="row mb-3">
	</div>


	<div class="row">

		<div class="col"></div>

		<div class="col col-lg-6">
			<div class="col page-header">
				<h4>勤務時間設定の追加と削除</h4>
			</div>

			{% if messages %}
			<div class="alert alert-danger">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
			{% endif %}
			<div class="card">
				<div class="card-header">
					現在の勤務時間の設定
				</div>
				<div class="card-body">

					<div class="alert alert-info">
						{{employee.name}} (管理番号: {{employee.employee_no}} )に割り当てられている勤務時間です<br>
						ℹ️「予定」の勤務時間は削除できます
					</div>
					{% if office_hours|length <= 0 %}
					勤務時間が設定されていません
					{% else %}
					<table class="table table-striped table-bordered">
						<tr>
							<th>適用日</th>
							<th>勤務時間</th>
							<th>操作</th>
						</tr>

						{% for oh in office_hours %}
						<tr>
							<td>{{oh.working_hours}}</td>
							<!-- <td
								{% if oh.date > datetime.date.today %}
									class="table-danger"
								{% endif %}
								{{oh.date}}
							</td>
							> -->

							<td class="{% if oh.date > today %}table-danger{% endif %}">
								{{oh.date}}
								{% if oh.date > today %}（予定）{% endif %}
							</td>

							<td>
								{% if oh.date > today %}
								<a id="link" href="{% url 'sao:del_employee_hour' oh.id %}"
									onclick="delete_office_hours(this); return false;"
									title="勤務時間設定を削除">
									<i class="oi oi-trash"></i>
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
				</div>
			</div>

			<div class="card mt-3">
				<div class="card-header">勤務時間の割り当て</div>
				<div class="alert alert-info m-3">
					{{employee.name}} (管理番号: {{employee.employee_no}} )に勤務時間を割り当てます。<br>
					ℹ️入社日以前の日付は設定できません。<br>
					ℹ️すでに設定されている日付は再度設定できません。
				</div>
				<div class="card-body">
					<form class="form" method='POST' action="{% url 'sao:employee_hour_view' employee.employee_no %}">
						{% csrf_token %}

						{{form.as_p}}
						<button class="btn btn-primary" type='submit'>追加</button>
						<input type='hidden' name='id' value='{{id}}' />
						<input type='hidden' name='employee_no' value='{{employee.employee_no}}' />
					</form>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>

</div>

{% endblock %}

{% block footer %}
{% endblock %}