{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row mt-4 mb-2">
        <div class="col text-center">
            <h5 class="text-muted">ユーザー権限一覧</h5>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
			<thead>
				<tr class="text-muted small">
					<th class="col-md-2 fw-normal">ユーザー名</th>
					<th class="fw-normal">管理者</th>
					<th class="fw-normal">自身の勤務実績詳細</th>
					<th class="fw-normal">WEB打刻</th>
					<th class="fw-normal">スタッフ登録</th>
					<th class="fw-normal">操作</th>
				</tr>
			</thead>
			<tbody>
				{% for s in staffs %}
				<tr>
					<td>
						{{ s.name }}
					</td>
					<td class="text-center">
						{% if s.user.is_staff %}
						<span class="oi oi-check text-success"></span>
						{% endif %}
					</td>
					<td class="text-center">
						{% if s.user.permission.enable_view_detail %}
						<span class="oi oi-check text-success"></span>
						{% endif %}
					</td>
					<td class="text-center">
						{% if s.user.permission.enable_stamp_on_web %}
						<span class="oi oi-check text-success"></span>
						{% endif %}
					</td>
					<td class="text-center">
						{% if s.user.permission.enable_add_staff %}
						<span class="oi oi-check text-success"></span>
						{% endif %}
					</td>
					<td class="text-center">
						<a href="{% url 'sao:modify_permission' s.user.id %}" class="btn btn-outline-primary btn-sm" title="編集">
							<span class="oi oi-pencil"></span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}