{% extends 'base.html' %}
 
{% block content %}
    <meta http-equiv="refresh" content="0.5">
    {% if progress.num >= 100 %}
        {% if progress.status == 1 %}
            異常終了しました
            {{progress.message}}
        {%else%}
            正常に終了しました
            <script>
                window.location = "{% url 'sao:upload_file' %}";
            </script>
        {%endif%}
    {% else %}
        {{progress.num}}%
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress.num }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.num }}%"></div>
        </div>
    {% endif %}
    {% endblock %}
    
    {% block footer %}
{% endblock %}