{% extends "base.html" %}
{% load widget_tweaks %}
{% load sao_tags %}

<script>
	function open_print_window() {
		window.open({% url 'sao:printing' %}?employee = {{ employee.id }}& year={ { year } }& month={ { month } } ','','scrollbars = yes, width = 250, height = 100, ');
}
</script>

{% block header %}
{% endblock %}


{% block content %}


<div class="container">

	<div class="row mt-3">
		<div class="col">
			<div class="page-header">
				<h4>打刻データ修正</h4>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">対象</div>
				<div class="card-body">
					<form method="post" action={% url 'sao:employee_record' %}>
						{% csrf_token %}
						{{form.as_p}}
						<button class="btn btn-primary col-auto" type='submit' name='calc'>計算</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-3">
		{% if attendances %}
		<table class="table table-striped table-bordered table-condensed">

			<tr>
				<th>日</th>
				<th>曜日</th>
				<th>区分</th>
				<th>残</th>
				<th>実打始</th>
				<th>実打終</th>
				<th>修正始</th>
				<th>修正終</th>
				<th>実務</th>
				<th>遅刻</th>
				<th>早退</th>
				<th>外出</th>
				<th>時外勤</th>
				<th>割増</th>
				<th>深夜時間</th>
				<th>法定休日</th>
				<th>所定休日</th>
				<th>累計残業</th>
				<th>届け</th>
				<th>修正</th>

			</tr>
			{% for attn in attendances %}
			<tr class="{{attn.date|focus_today:today}}">

				{%if attn.is_absent %}
				{#----欠勤時の表示----#}
				{% if attn.date|is_saturday %}
				<td class="red_color">{{attn.date.day }}</td>
				<td class="red_color">{{attn.date|date:"D" }}</td>
				{% elif attn.date|is_holiday %}
				<td class="red_color">{{attn.date.day }}</td>
				<td class="red_color">{{attn.date|date:"D" }}</td>
				{% else %}
				<td class="red_color text-right">{{attn.date.day }}</td>
				<td class="red_color">{{attn.date|date:"D" }}</td>
				{% endif %}

				<td class="red_color">{{attn.flag}}</td>
				<td class="red_color">
					{% if attn.accepted_overtime %}
					<span class="glyphicon glyphicon-ok"></span>
					{% endif %}
				</td>
				<td class="red_color"></td>
				<td class="red_color"></td>
				<td class="red_color"></td>
				<td class="red_color text-right">{{attn.work|strip_seconds:"0:00" }}</td>
				<td class="red_color text-right">{{attn.late|strip_seconds:"0:00" }}</td>
				<td class="red_color text-right">{{attn.before|strip_seconds:"0:00" }}</td>
				<td class="red_color text-right">{{attn.steppingout|strip_seconds:"0:00" }}</td>
				<td class="red_color text-right">{{attn.out_of_time|strip_seconds:"0:00"}}</td>
				<td class="red_color"></td>
				<td class="red_color text-right">{{attn.night|strip_seconds:"0:00" }}</td>
				<td class="red_color text-right">{{attn.legal_holiday|strip_seconds:"0:00" }}</td>
				<td class="red_color text-right">{{attn.holiday|strip_seconds:"0:00"}}</td>
				<td class="red_color"></td>
				{% if attn.remark %}
				<td class="red_color">{{attn.remark}}</td>
				{% else %}
				<td class="red_color"></td>
				{% endif %}
				{%else%}
				{% if attn.date|is_saturday %}
				<td class="text-right" style="color:#0000ff">{{attn.date.day }}</td>
				<td style="color:#0000ff">{{attn.date|date:"D" }}</td>
				{% elif attn.date|is_holiday %}
				<td class="text-right" style="color:#ff0000">{{attn.date.day }}</td>
				<td style="color:#ff0000">{{attn.date|date:"D" }}</td>
				{% else %}
				<td class="text-right">{{attn.date.day }}</td>
				<td>{{attn.date|date:"D" }}</td>
				{% endif %}

				<td>{{attn.flag }}</td>
				<td class="text-center">
					{% if attn.accepted_overtime %}
					<span class="glyphicon glyphicon-ok"></span>
					{% endif %}
				</td>
				<td class="text-right">
					{#実打始#}
					{% if attn.clock_in %}
					{{attn.clock_in}}
					{% endif %}
				</td>

				{#実打終#}
				<td class="text-right">
					{% if attn.clock_out %}
					{{attn.clock_out}}
					{% endif %}
				</td>

				{#修正始#}
				<td class="text-right">
					{% if attn.adjusted_from %}
					{{attn.adjusted_from}}
					{% endif %}
				</td>

				{#修正終#}
				<td class="text-right">
					{% if attn.adjusted_to %}
					{{attn.adjusted_to}}
					{% endif %}
				</td>

				{#実務#}
				<td class="text-right">
					{{attn.work|strip_seconds:"0:00"}}
				</td>

				{#遅刻#}
				<td class="text-right {{attn.late|color_ifnot:'cream_bg'}}">
					{{attn.late|strip_seconds:"0:00" }}
				</td>

				{#早退#}
				<td class="text-right {{attn.before|color_ifnot:'cream_bg'}}">
					{{attn.before|strip_seconds:"0:00" }}
				</td>

				{#外出#}
				<td class="text-right {{attn.steppingout|color_ifnot:'cream_bg'}}">
					{{attn.steppingout|strip_seconds:"0:00" }}
				</td>

				{#時外勤#}
				<td class="text-right">{{attn.out_of_time|strip_seconds:"0:00"}}</td>

				{#割増#}
				<td class="text-right">{{attn.over_8h|strip_seconds:"0:00"}}</td>

				{#深夜時間#}
				<td class="text-right {{attn.night|color_ifnot:'cream_bg'}}">
					{{attn.night|strip_seconds:"0:00" }}
				</td>

				{#法定休日#}
				<td class="text-right {{attn.legal_holiday|color_ifnot:'cream_bg'}}">
					{{attn.legal_holiday|strip_seconds:"0:00" }}
				</td>

				{#所定休日#}
				<td class="text-right {{attn.holiday|color_ifnot:'cream_bg'}}">
					{{attn.holiday|strip_seconds:"0:00"}}
				</td>

				<td>
				</td>

				{#届#}
				{% if attn.remark %}
				<td>{{attn.remark}}</td>
				{% else %}
				<td></td>
				{% endif %}
				{%endif%}
				<td>
					{% if attn.daily_attendance_record %}
					<a class="btn btn-default" href="{% url 'sao:modify_record' attn.daily_attendance_record_pk year month %}>
						<span class="oi oi-pencil"></span>
						
					</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="orange_bg text-right">合計時間</td>
				<td class="orange_bg text-right" id="work">{{total_result.work|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="late">{{total_result.late|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="before">{{total_result.before|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="steppingout">{{total_result.steppingout|strip_seconds:"0:00" }}
				</td>
				<td class="orange_bg text-right" id="out_of_time">{{total_result.out_of_time|strip_seconds:"0:00" }}
				</td>
				<td class="orange_bg text-right" id="over_8h">{{total_result.over_8h|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="night">{{total_result.night|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="legal_holiday">
					{{total_result.legal_holiday|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="holiday">{{total_result.holiday|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right" id="accumulated_overtime">
					{{total_result.accumulated_overtime|strip_seconds:"0:00"}}</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="orange_bg text-right">まるめ処理</td>
				<td class="orange_bg text-right">{{rounded_result.work|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.late|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.before|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.steppingout|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.out_of_time|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.over_8h|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.night|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.legal_holiday|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.holiday|strip_seconds:"0:00" }}</td>
				<td class="orange_bg text-right">{{rounded_result.accumulated_overtime|strip_seconds:"0:00"}}</td>

			</tr>

		</table>

		累計所定労働時間
		<table class="table table-striped table-bordered table-condensed" style="width:550px;">
			<tr>
				<th colspan="2">週</th>
				<th>実時間</th>
				<th>まるめ</th>
			</tr>
			{% for w in week_work_time %}
			<tr>
				<td class="col-md-1">第{{w.0}}週</td>
				<td class="col-md-2">{{w.1}}～</td>
				<td class="col-md-2 text-right">{{w.2|strip_seconds:"0:00"}}</td>
				<td class="col-md-2 text-right">{{w.3|strip_seconds:"0:00"}}</td>
			</tr>
			{% endfor %}
		</table>

		{% else %}
		<div class="alert alert-danger" role="alert">
			データがありません
		</div>
		{%endif%}
	</div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}