{% extends "base.html" %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row mt-3">
		<div class="col">
			<h4>勤務時間設定</h4>
		</div>
		<div class="col">
			<div class="float-end">

				<a href={% url 'sao:add_working_hours' %} class="btn btn-info">勤務時間を追加する</a>
			</div>
		</div>

	</div>


	<table class="table table-striped table-bordered mt-3">
		<tr>
			<td>区分</td>
			<td>出社時間</td>
			<td>退社時間</td>
			<td></td>
		</tr>
		<tr>
			{% for w in working_hours %}
				<td>{{w.category}}</td>
				<td>{{w.begin_time}}</td>
				<td>{{w.end_time}}</td>
				<td>
					<a href="{% url 'sao:edit_working_hours' w.id %}" class="btn btn-default" title="編集">
						<span class="oi oi-pencil"></span>
						編集
					</a>
				</td>
			{% endfor %}
		</tr>

	</table>



</div>
{% endblock %}


{% block footer%}
{% endblock %}

</div><!-- // #footer -->