<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% load static %}
	<link rel="stylesheet" type="text/css" href={% static "css/sao.css" %} />
	<link rel="stylesheet" href={% static "font/css/open-iconic-bootstrap.min.css" %}>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


	<title>{% block title %}勤怠さん{% endblock %}</title>

	<script type="text/javascript">
		$(document).ready(function () {
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

			// http://api.jqueryui.com/datepicker/#option-monthNames
			$(".datepicker").datepicker({
				dateFormat: 'yy-mm-dd',
				dayNamesMin: ["日", "月", "火", "水", "木", "金", "土"],
				monthNames: ["１月", "２月", "３月", "４月", "５月", "６月", "７月", "８月", "９月", "１０月", "１１月", "１２月"],
				showMonthAfterYear: true,
				maxDate: 0
			})

			$(".datepicker-future").datepicker({
				dateFormat: 'yy-mm-dd',
				dayNamesMin: ["日", "月", "火", "水", "木", "金", "土"],
				monthNames: ["１月", "２月", "３月", "４月", "５月", "６月", "７月", "８月", "９月", "１０月", "１１月", "１２月"],
				showMonthAfterYear: true,
			})

			// file:///C:/Users/ohtake/Desktop/KidSysco-jquery-ui-month-picker-6bf5fcb/demo/index.html
			$('.MonthPicker').MonthPicker({
				MaxMonth: 0,
				MonthFormat: 'yy-mm',
				Button: false,
				i18n: {
					year: '年',
					months: ['１月', '２月', '３月', '４月', '５月', '６月', '７月', '８月', '９月', '１０月', '１１月', '１２月']
				}
			});

			$('.timepicker').timepicker({
				timeFormat: 'HH:mm',
				interval: 30,
				minTime: '7:00am',
				maxTime: '22:00pm',
				//defaultTime: '11',
				//startTime: '10:00',
				dynamic: false,
				dropdown: true,
				scrollbar: true
			});
		});


	</script>

	<script>
	{% block script %}{% endblock %}
	</script>

</head>

<body>
		{% block menu %}
		<nav class="navbar navbar-expand-lg bg-light">
			
			{% if user.is_authenticated %}
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href={% url 'sao:home' %}>マイページ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={% url 'accounts:list' %}>スタッフ</a>
						</li>

						{% if user.is_staff or user.permission.enable_view_temporary_staff_record or user.permission.enable_view_dev_staff_record%}
						<li class="nav-item">
							<a class="nav-link" href={% url 'sao:overview' %}>勤務実績一覧</a>
						</li>
						{% endif %} 

						{% if user.is_staff %}
						<li class="nav-item">
							<a class="nav-link" href={% url 'sao:employee_record' %}>打刻データ修正</a>
						</li>
						{% endif %}
					</ul>


					<ul class="nav navbar-nav ms-auto">
						{% if user.is_authenticated %}

						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-cog"></span></a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url 'sao:permission' %}>ユーザー権限</a></li>
								<li><a class="dropdown-item" href={% url 'sao:holiday_settings' %}>公休日設定</a></li>
								<li><a class="dropdown-item" href={% url 'sao:working_hours_view' %}>勤務時間設定</a></li>
								{% if user.is_staff %}
								{% endif %}
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">他のアプリ<b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% if user.is_staff or user.permission.enable_add_staff %}
								<li><a class="dropdown-item" href={% url 'sao:employee_list' %}>雇用情報</a></li>
								<li><a class="dropdown-item" href={% url 'accounts:list' %}>アカウント管理</a></li>
								{% endif %}
							</ul>
						</li>




						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
							<ul class="dropdown-menu">
								<form class="" action="/accounts/logout/" method="post" >
									{% csrf_token %}
									<button type="submit" class="btn btn-primary">logout</button>
								</form>
							</ul>
						</li>
						{% endif %}

		
			
					</ul>
				</div>
			{% endif %}
		</nav>
		{% endblock %}

	<div style="clear: both"></div>

	{% block content %}content{% endblock %}


	<div id="footer">
		{% block footer %} footer {% endblock %}
	</div>

</body>

</html>