CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
CREATE USER IF NOT EXISTS '${SAO_DB_USER}'@'%' IDENTIFIED BY '${SAO_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO '${SAO_DB_USER}'@'%';
FLUSH PRIVILEGES;
