{% extends "base.html" %}
{% load widget_tweaks %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <div class="row mb-5"></div>
    <div class="row mb-5">

        <div class="col"></div>
        <div class="col">

            <!-- アプリ名を追加 -->
            <div class="text-center mb-3">
                <div class="fw-bold">SAO デモンストレーション</div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">認証</h3>
                </div>
                {% if form.non_field_errors %}
                <div class="alert alert-danger m-3" role="alert">
                    {% for err in form.non_field_errors %}
                    {{ err }}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card-body">
                    <form class="form" method="post" action="{% url 'sao_accounts:login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">{{form.username.label}}</label>
                            {{form.username|attr:"class:form-control"}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{form.password.label}}</label>
                            {{form.password|attr:"class:form-control"}}
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">ログイン</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>


                        <div class="mt-3 text-center">
                            不明な場合、管理者に問い合わせてください。
                        </div>
                    </form>
                </div>
            </div>

            サンプルアカウントのログイン情報はこちら→<a href="https://github.com/tatamyiwathy/sao/blob/main/test-data/sample-data.yaml">githubリポジトリ</a><br>
            管理者はどちらも「saoadmin」です。
            
            
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}