{% extends "base.html" %}
{% load widget_tweaks %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <div class="row mb-5"></div>
    <div class="row mb-5">

        <div class="col"></div>
        <div class="col">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">ログイン</h3>
                </div>
                {% if form.errors %}
                <div class="text-danger text-center">
                    <p>名前かパスワードが正しくありません。</p>
                </div>
                {% endif %}

                <div class="card-body">
                    <form class="form" method="post" action="{% url 'sao_accounts:login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">{{form.username.label}}</label>
                            {{form.username|attr:"class:form-control"}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{form.password.label}}</label>
                            {{form.password|attr:"class:form-control"}}
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">ログイン</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}