--  CREATE DATABASE IF NOT EXISTS test_sao_db CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4 COLLATE utf8mb4_unicode_ci;
CREATE USER IF NOT EXISTS '${DJANGO_SUPERUSER_USERNAME}'@'%' IDENTIFIED BY '${DJANGO_SUPERUSER_PASSWORD}';
GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO '${DJANGO_SUPERUSER_USERNAME}'@'%';
GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO '${DJANGO_SUPERUSER_USERNAME}'@'localhost';
FLUSH PRIVILEGES;
-- 作成されたユーザーを確認
SELECT User, Host FROM mysql.user WHERE User='saoadmin';